<footer class="custom-footer text-center text-white mt-4">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- LinkedIn -->
            <a class="btn text-white btn-floating m-2"
               href="https://www.linkedin.com/in/dipin-dawadi" target="_blank">
                <img src="/static/link.png" alt="LinkedIn" style="width: 30px; height: 30px;">
            </a>
            
            <!-- GitHub -->
            <a class="btn text-white btn-floating m-2"
               href="https://github.com/dipin-d" target="_blank">
                <img src="/static/git.png" alt="GitHub" style="width: 30px; height: 30px;">
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background: #87CEEB;">
        © 2023 Copyright: Dipin Dawadi
    </div>
    <!-- Copyright -->
</footer>
